body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#file-input {
  display: block;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
}

#result {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.container {
  display: block;
}

#my-div {
  width: 80vw;
  height: 50vh;
}
